img {
  width: 30%;
  height: 30%;
}

.Dvds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
  /* justify-content: space-evenly; */
  justify-items: center;
  /* align-content: space-evenly; */
  /* align-items: center; */

}

* {
  text-align: center;
}

form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(300, 66%, 85%);
  border: 4px solid hsl(55, 100%, 61%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card1:hover {
  transform: translateY(-1rem);
}
body{
  background-color: rgb(218, 230, 235);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
